* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

aside {
    width: 50%;
    height: 100%;

    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: blue;
}

h1.titulo{
    text-align: center;
}

main.datos{
    width: 100%;
    height: 100%;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

section.registros {
    max-width: 60px;
    min-width: 60px;

    height: 100%;

    background-color: cyan;
}

div.derecha {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap:10px
}

section.estados{
    width:100%;
    height: 10%;

    background-color: green;
}

section.memoria{
    height: 100%;
    width: 100%;

    background-color: greenyellow;
}

main.codigo{
    width: 50%;
    height: 100%;

}
